@charset "UTF-8";
/*
																【気づいた記述のルール】

単位
・文字サイズ＝rem
・marin padding＝px または　%
・画像＝%
・font-size:0.875rem;　←すごいこんなに細かく数値をしていできたんだ


気づいたこと
・Gメニューで左右の余白paddingは「%」を使っていた
・他のboxとかと距離を計るレイアウトの場合は%使ってるな。
・余白をとるときにpxを使っていることもある。その場合は%にするとレイアウトが崩れるかどうかで判断されている？？
・画像の縦横比をpxで指定する場合　例)heigh：40px；　だとすると　幅は指定しない（初期値autoで可変になるから）
・免責や著作権表示に使われる<small>タグについて “p”タグでこれを囲うんだなあ
・<article>の中で見出しとして<header>を子要素として持ってくることもできる。※なんとheader要素は複数回使うことが可能なのだ。以外～
・html5 <br />は<br>でOKタグ全般において終わりのスラッシュはいらない。


豆知識
・「display:flex;」については横並びにしてくれる。配置はjustifyで指定しなければ、「flex-start（初期値） “行の開始位置から配置”」で表示される
・articleとは…	記事、論説、個条、条項、条款、年季契約、物品、品物、品目、(同種のものの)一個
・sectionについて…ちなみに必要なければ省いても良いタグ。
　(↓使用例)articleの中に入る“章・節・項”などを表す。頭にh1見出しなどをつけてね。
　<article>
		<section>
				<h1>...</h1>
				<p>.....</p>
		</section>
		<section>
				<h2>...</h2>
				<p>.....</p>
		</section>
		<section>
				<h3>...</h3>
				<p>.....</p>
		</section>
　</article>
・見出しh1～h6は “section”の中に入る。
・見出しh1～h6は6までで、h7は存在しない
・asideタグ…その部分がウェブページ内における余談・補足情報のセクションであることを示す際に使用します。欄外に掲載されるような内容です。
・モバイルデバイス(スマートフォン、タブレット型端末...etc)の縦持ちブレイクポイントは “600px”前後
・gridの指定について　横column　縦row



課題
・ <meta name="viewport" content="width=device-width, initial-scale="1">タグを深く理解する
　　参考：https://qiita.com/ryounagaoka/items/045b2808a5ed43f96607
・グリッドレイアウトをYouTubeで研究する必要あり




*/
/*	共通部分
-------------------------------*/
html {
	font-size:100%;
}
body {
	line-height:1.7;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	color:#432;
}
a {
	text-decoration:none;
}
img {
	max-width:100%;
	height:auto;		/*これを指定すると高さも自動になる*/
}
.wrapper {
	max-width:1100px;
	margin:0 auto;
	padding:0 4%;	/*スマホ向けの余白の設定方法らしい。箱組っぽくもなるよね*/
}
/* 見出し */
.page-title {
	font-size: 5rem;
	/*	font-family: 'Philosopher', serif;*/


font-family: 'East Sea Dokdo', cursive;
	text-transform: uppercase;/*全部大文字に変えてしまう指定*/
	font-weight: normal;
}
/*▼ふつうの下線ラインのデザインです。
.sub-title {
	font-size:1.375rem;
	padding:0 8px 8px;
	border-bottom:2px #e98f10 solid;
	font-weight:normal;
}
*/
/*サブタイトル装飾*/
.sub-title {
  position: relative;/*相対位置*/
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #443322;/*文字色*/
}

.sub-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #e98f10; /*アイコン色*/
}
/* ボタン */
.button {
	font-size:1.375rem;
	background-color:#e98f10;
	color:#fff;
	border-radius:5px;
	padding:18px 32px;
}
.button:hover {
	background:#e97110;
}
/* 大きな背景画像 */
.big-bg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
/* HEADER
------------------------------- */
.page-header {
	display:flex;
	justify-content:space-between;
}
.logo {
	width: 210px;
	margin-top: 14px;
}
.main-nav {
	display:flex;
	font-size:1.25rem;
	text-transform:uppercase;
	margin-top:34px;
	list-style-type:none;
}
.main-nav li {
	margin-left:36px;
}
.main-nav a {
	color:#432;
}
.main-nav a:hover {
	color:#e98f10;
}
/* HOME
------------------------------- */
#home {
/*	background-image: url(../images/main-bg.jpg), linear-gradient(144deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);
*/

background-image: url(../images/top.jpg);
	min-height:100vh;
	background-blend-mode: multiply;
}
#home .page-title {
	text-transform:none;
}
.home-content {
	text-align:center;
	margin-top:10%;
}
.home-content p {
	font-size:1.125rem;
	margin:10px 0 42px;
}
/*	profile
-------------------------------*/
#profile {
	background-image:url(../images/sub-headder-bg.jpg);
	height:270px;/* widthはautoになるはずだから、高さのみしか指定されていない */
	margin-bottom:40px;
	text-align:center;
}
.profile-contents {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
/*バナー広告*/
ad {
/*	order:1;
*/}
/*メインエリア部分（記事部分）*/
article {
	width:60%;/*	order:2;
*/
}
.post-info {
	position: relative;
	padding-top: 4px;
	margin-bottom: 40px;
}
.post-date {
	background: #e98f10;
	border-radius: 50%;
	color: #fff;
	width: 100px;
	height: 100px;
	font-size: 1.625rem;
	text-align: center;
	position: absolute;
	top: 0;
	padding-top: 10px;
}
.post-date span {
	font-size: 1rem;
	border-top: 1px rgba(255,255,255,.5) solid;
	padding-top: 6px;
	display: block;
	width: 60%;
	margin: 0 auto;
}
.post-title {
	font-family: "Yu Mincho", "YuMincho", serif;
	font-size: 2rem;
	font-weight: normal;
}
.post-title, .post-cat {
/*	margin-left:120px;
*/}
/*サイドバー*/
aside {
	width:22%;/*	order:3;
*/
}
.sub-works {
	margin-bottom:60px;
	list-style:none;
}
.sub-works li {
	border-bottom:1px #666666 dotted;
}
.sub-works a {
	color:#432;
	padding:10px;
	display:block;
}
.sub-works a:hover {
	color:#e98f10;
}
aside p {
	padding:12px 10px;
}
/* works
------------------------------- */
#works {
	background-image: url(../images/sub-headder-bg.jpg);
	min-height: 100vh;
}
.works-content {
	max-width:560px;
	margin-top:10%;
}
.works-content .page-title {
	text-align:center;
}
.works-content p {
	font-size:1.125rem;
	margin:10px 0 0;
}
.grid {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(100px/*←ここの数値で画像サイズ変動*/, 1fr));
	margin-top: 1%;
	margin-bottom: 50px;
}
.big-box {
	grid-column:1/3;
	grid-row:1/3;
}
.big-box img {
	height:94%;
	width:100%;
	object-fit:cover;
}
/*	CONTACT
-------------------------------*/
#contact {
	background-image:url(../images/contact-bg.jpg);
	min-height:100vh;
	padding-bottom:20px;
}
/*フォーム*/

form div {
	padding-bottom:14px;
}
label {
	font-size:1.125rem;
	margin-bottom:10px;
	display:block;
}
input[type="text"], input[type="email"], textarea {
	background:rgba(255,255,255,.7);
	border:1px #fff solid;
	border-radius:5px;
	padding:10px;
	font-size:1rem;
}
input[type="text"], input[type="email"] {
	width:100%;
	max-width:240px;
}
textarea {
	width:100%;
	max-width:480px;
	height:6rem;
}
input[type="submit"] {
	border:none;
	cursor:pointer;
	line-height:1;
}
#contact .wrapper p {
	border: 1px solid blue;
	display:block;
}
/*	フッター
-------------------------------*/
footer {
	background:#432;
	text-align:center;
}
footer p {
	padding:10px;
	color:#FFF;
	font-size:0.875rem;
}
/*	モバイル版
-------------------------------*/
@media (max-width:600px) {
.page-title {
	font-size: 2.5rem;
}
.page-header {
	flex-direction: column;
	align-items: center;
}
/* HEADER */
    .main-nav {
	font-size: 1rem;
	margin-top: 10px;
}
.main-nav li {
	margin: 0 20px;
}
/* HOME */
    .home-content {
	margin-top: 20%;
}
/*profile*/
.profile-contents {
	flex-direction: column;
}
#profile .page-title {
	margin-top: 30px;
}
article, aside {
	width:100%;
}
aside {
	margin-top: 60px;
}
.post-info {
	margin-bottom: 30px;
}
.post-date {
	width: 70px;
	height: 70px;
	font-size: 1rem;
}
.post-date span {
	font-size: 0.875rem;
	padding-top: 2px;
}
.post-title {
	font-size: 1.375rem;
}
.post-cat {
	font-size: 0.875rem;
	margin-top: 10px;
}
/* works */
    .works-content {
	margin-top: 20%;
}
.big-box {
	grid-column:auto;
	grid-row:auto;
}
.big-box img {
	height:auto;
}
}
